:root {
  --width-l: 1140px;
  --width-m: 960px;
  --width-s: 720px;
  --width-xs: 540px;

  --accent-color: #42b983;
  --header-text-color: #fff;
  --header-dark-color: #111;

  --footer-height: 27vh;
}

strong {
  font-weight: bold;
}
